/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
.site-header {
  border-top: 1px solid $border-color-01;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  background:url('https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-high-tech-molecular-structure-hexagonal-link-medical-image_309769.jpg');
  // Positioning context for the mobile navigation icon
  position: relative;
}
.page-content {
    padding: 0px 0;
    flex: 1 0 auto;
}
.post img {
        display: block;
        // border:1px solid #021a40;
        //vertical-align: top;
        //margin-left: 0px;
        //margin-right: Opx;
        width: 10%;
        height: 10%; 
        object-fit: contain;
             
}
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
